.barraprincipal{
    display: inline-block;
    background: white;
    color: #0278ae;
    padding: 30px 30px;
    text-decoration: none;
    
}

.barraprincipal:hover{
    background: #ececec;
}
nav{
    display: flex;
    justify-content: center;
}
h1{
    color: #0278ae;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.padre{

    display: flex;
    justify-content: center;
   

}
.imagenesdemenu{
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 10px;
}
.padre2{
    display: flex;
    
    margin: 48px;
    padding: 20px;
    width: 800px;
    text-align: justify;
    ;
    
    
}
.tx1{

    display: flex;
    font-size: 15px;
    justify-content: center;

    

}
h2{
    color: #0278ae;
    font-size: 30px; 
    
}